@font-face {
     font-family: 'atlas-pro';
     src: url('fonts/atlas-pro/300/atlas-pro-aaa-300.woff') format('woff');
     font-weight: 300;
     font-style: normal;
 }

 @font-face {
     font-family: 'atlas-pro';
     src: url('fonts/atlas-pro/400/aatlas-pro-aaa-400.woff') format('woff');
     font-weight: 400;
     font-style: normal;
 }

 @font-face {
     font-family: 'atlas-pro';
     src: url('fonts/atlas-pro/700/atlas-pro-aaa-700.woff') format('woff');
     font-weight: 700;
     font-style: normal;
 }
h1 ,h2 ,h3 {
    font-family: 'atlas-pro';
    font-weight: 400px;
}

 body {
     background:
     background-image: color: #fff;
     margin: 0;
     font-family: 'atlas-pro', sans-serif;
     line-height: 1.5;
     font-size: 20px;
 }

 img {
     max-width: 100%;
     width: auto;
     height: auto;
 }

 h1 {
     font-size: 6vw;
     font-family: 'atlas-pro';
     font-weight: 700;
 }

 h2 {
     font-size: 40px; 
   font-family: 'atlas-pro';
     font-weight: 400;
 }

 .container {
     max-width: 980px;
     margin: 10px auto;
     padding: 20px 10px;
     display: block;
     text-decoration: none;
     text-align: center;
 }

 .banner {
     background-image:
         url(img/zero-waste-concept-paper-tableware.jpg);
     background-position: center 40%;
     background-size: cover;
     height: 600px;
     text-align: center;
     padding: 50px 0;
 }

 .button {
     text-decoration: none;
     color: #000;
     background: #c7a17a;
     padding: 10px 40px;
     display: inline-block;
 }

 .button:hover {
     background: #30271c;
     color: #fff;
 }


 a {
     font-size: 60px;
     color: 2B3827;
     text-decoration: none;
     margin-top: 40px;
     table-layout: inherit;
 }

 .img .header {
     max-width: 10%;
 }

 header {
     max-width: 100%;
     width: 100px;
 }

 .logo {
     max-width: 200px;
 }

.features {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;  
}
.features img {
    max-width: 400px;
    text-align: center;  
}

.about {
    text-align: center;
}

.about a {
   color: aqua;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
}
footer a {
  color: #c7a17a;
}
.about {
  position: relative;
  padding: 56px 0 84px;
}
.custom-shape-divider-bottom-1615827767 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615827767 svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 73px;
}

.custom-shape-divider-bottom-1615827767 .shape-fill {
    fill: #FFFFFF;
}
