@font-face {
  font-family: 'atlas-pro';
  src: url('fonts/atlas-pro/700/atlas-pro-aaa-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3 {
    font-family: 'atlas-pro'; 
    font-weight: 700;
}

body {
    font-family: 'opensans', arial, sans-serif;
    font-size: 30px;
    line-height: 1.5;
     font-size: 20px;
     margin: 0;
}

img {
     max-width: 100%;
     width: auto;
     height: auto;
 }
h1 {
     font-size: 5vw;
     font-family: 'atlas-pro';
     font-weight: 700;
    color: #566A5F;
    margin: 20px;
  
 }

 h2 {
     font-size: 4vw; 
   font-family: 'atlas-pro';
     font-weight: 400;
     text-align: center;
 }

p {
    font-size: 2vw; 
   font-family: 'opensans';
     font-weight: 400;
}

.logo {
    max-width: 150px;
    padding: 15px;
}

.banner {
    background: url(img/strip.jpg) center;
    background-position: center 50%;
     background-size: cover;
     height: 800px;
     text-align: center;
     padding: 50px 0;
}

.img .header {
     max-width: 10%;
 }

.banner .container {
    background-color: #ffff;
    border: 2px;
}

.container {
   max-width: 1500px;
     margin: 10px auto;
     padding: 20px 10px;
     display: block;
     text-decoration: none;
     text-align: center;
    
}

.button {
     text-decoration: none;
     color: #000;
     background: #c7a17a;
     padding: 10px 40px;
     display: inline-block;
 }

.button:hover {
     background: #30271c;
     color: #fff;
 }
a {
     font-size: 60px;
     color: 2B3827;
     text-decoration: none;
     margin-top: 40px;
     table-layout: inherit;
 }
.features {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px; 
    
}
.features img {
    max-width: 200px;
    text-align: center;  
}
.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 56;  
    
}

.about {
    text-align: center;
    background: #F6EDE2;
}

.about a {
   color: #30271c;
}

header {
  text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
    background: #566A5F;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 5px;
    
    
}


footer {
     background: url(img/Paper.jpg) center;
}
